<app-transitionpage />
<main class="w-screen p-6 dark:text-white">
    <div class="mt-6 lg:mt-16">
        <h1 class="text-anime text-3xl lg:text-5xl font-extrabold  opacity-0 translate-y-5">Hey i'm Likeur off,</h1>
        <h1 class="text-anime text-3xl lg:text-5xl font-extrabold opacity-0 translate-y-5 mt-4">A creative frontend Developer</h1>
    </div>
    <div class="bg-gray-950/10 h-[1px] w-[30%] mt-10"></div>
    <div class="mt-10 uppercase">
        <p class="text-anime opacity-0">As a Frontend web developer,</p>
        <p class="text-anime opacity-0">My focus is to create stunning, user friendly and responsives websites and user interfaces</p>
        <p class="text-anime opacity-0">improve her accessibility and implements great features, i'm open to work around the world</p>
    </div>
    <div class="uppercase mt-10 lg:absolute z-0 lg:right-10">
        <p class="text-anime opacity-0">Based in DR Congo</p>
        <p class="text-anime opacity-0">Freelance Frontend Developer</p>
    </div>
</main>
