<nav class="flex items-center justify-between p-4 lg:p-8">
    <div>
        <a href="" class="font-thin text-xl uppercase dark:text-white">Likeur.</a>
    </div>
    <ul id="menuLinks" class="absolute bg-gray-950 top-0 z-20 p-4 w-[70%] lg:w-[40%] right-0 h-screen flex flex-col justify-center translate-x-[100rem] duration-300">
        @for (item of navLinks; track item.id) {
            <li (click)="openMenu()" class="uppercase font-thin ml-16 text-white group">
                <a routerLink="{{ item.route }}" routerLinkActive="text-blue-600" class="block text-3xl mt-3 duration-300 hover:text-blue-600"> {{ item.title}} </a>
                <span class="hidden lg:block bg-blue-600 h-2 w-8 opacity-0 rounded-full translate-x-4 group-hover:opacity-100 group-hover:translate-x-0 duration-300"></span>
            </li>
            
        }

        <div class="mt-20">
            <ul class="flex justify-around text-gray-400 ">
                <li><a href="">Github</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">X(Twitter)</a></li>
            </ul>
        </div>
        
    </ul>
    <div class="flex items-center">
        <button (click)="isDarkmode()" id="darkmode" class="text-2xl text-blue-950 bg-transparent h-8 w-8 flex justify-center duration-300 dark:text-yellow-400 items-center"><i id="darkmodeicon" class='bx bx-moon'></i></button>
        <button id="btn-menu" (click)="openMenu()" class="flex ml-2 flex-col relative z-50 p-4 rounded-full duration-300">
            <span class="block bg-gray-950 dark:bg-white h-0.5 w-8 "></span>
            <span class="block bg-gray-950 dark:bg-white h-0.5 w-8 mt-2"></span>
        </button>
    </div>
    
</nav>
